body {
  font-family: "Instrument Sans", Arial, Helvetica, sans-serif;
  background-color: rgb(240, 240, 240);
  scroll-behavior: smooth;
}
body::selection {
  background-color: white;
  color: black;
}
.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 0 70px;
  display: flex;
  align-items: center;
  z-index: 999;
}
.shops-name {
  color: white;
  font-size: 20px;
  margin: 10px;
  width: 10%;
  transition: 0.3s;
  cursor: default;
}
.shops-name:hover {
  transform: scale(1.3);
}
.search-buttons {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.full-search {
  margin-left: 10%;
  width: 25%;
  background-color: rgb(204, 204, 204);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  transition: 0.2s;
}
.search {
  height: 35px;
  width: 90%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: none;
  padding-left: 5px;
  background-color: transparent;
  font-size: 17px;
  transition: 0.2s;
}
.search:focus {
  outline: none;
  font-size: 20px;
}
.search-button {
  margin: 0;
  height: 35px;
  width: 35px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s;
}
.search-button:hover {
  background-color: rgb(156, 156, 156);
  transform: scale(1.2);
}
.search-button:active {
  background-color: rgb(139, 139, 139);
}
.menu-buttons {
  background: none;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 40px;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.2s;
}
.menu-buttons:hover {
  transform: scale(1.2);
  color: rgb(110, 110, 110);
}
.menu-buttons:active {
  color: rgb(66, 66, 66);
}
.side-menu {
  z-index: 1000;
  position: fixed;
  background-color: rgb(0, 0, 0);
  width: 20%;
  min-width: 300px;
  height: 100vh;
  justify-self: right;
  right: -70%;
  top: 0;
  color: white;
}
.cross {
  margin: 0;
  top: 0;
  bottom: 0;
  font-size: 50px;
  text-align: center;
  transition: 0.3s;
  width: 100%;
  color: rgb(175, 175, 175);
}
.cross:hover {
  color: red;
  text-shadow: 0 0 5px red;
  transform: scale(1.5);
  cursor: pointer;
}
.filter-name {
  font-size: 40px;
  text-align: center;
  color: grey;
}
.name-for-filter {
  text-align: center;
}
.checkbox-parent {
  display: flex;
  justify-content: center;
}
.filter-button-hide {
  display: none;
}
.filter-button {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 2px;
  border-radius: 100px;
  font-size: 50px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.filter-button:hover {
  transform: scale(1.1);
}
.filter-button:active {
  transform: scale(0.95);
}
.cart-menu {
  z-index: 1000;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  justify-self: right;
  right: -100%;
  top: 0;
  color: black;
}
.cart-menu::selection {
  background-color: black;
  color: white;
}
.cart-icon {
  font-size: 40px;
  text-align: center;
  color: grey;
  margin: 0;
  transition: 1s;
  cursor: grab;
}
.cart-icon:hover {
  font-size: 40px;
  padding-left: 5%;
  color: grey;
  margin: 0;
}
.cart-name {
  font-size: 20px;
  text-align: center;
  color: grey;
  margin: 0;
}
.cart-icon:active {
  font-size: 40px;
  text-align: center;
  color: grey;
  margin: 0;
  transition: 1s;
  cursor: grabbing;
  padding-left: 0;
}
h1 {
  margin-top: 60px;
  text-align: center;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.product {
  width: 20%;
  min-width: 360px;
  height: 608px;
  min-height: 550px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 0 7px grey ;
  padding: 15px;
  border-radius: 10px;
  transition: 0.2s;
}
.product::selection {
  background-color: black;
  color: white;
}
.product-image {
  width: 100%;
  height: 290px;
  object-fit: cover;
  background-color: rgb(0, 0, 0);
  margin-bottom: 0;
  cursor: pointer;
  transition: 1s;
  cursor: zoom-in;
}
.product-image:active:hover {
  transform: scale(1.2);
  cursor: zoom-out;
  transition: 0.2s;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
  height: 360px;
}
.name-price {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
}
.product-name {
  margin: 0;  
  font-size: 35px;
  font-weight: bolder;
}
.product-price {
  font-size: 35px;
  color: rgb(51, 51, 51);
  margin-bottom: 10px;
}
.cents {
  font-size: 20px;
}
.product-description {
  margin: 0;
  font-size: 15px;
  color: rgb(148, 148, 148);
}
.product-button-parent {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product-button {
  margin-top: auto;
  width: 45%;
  height: 8%;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  border: solid 3px black;
  border-radius: 10px;
  transition: 0.15s;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  color: black;
}
.product-button-2 {
  margin-top: auto;
  width: 100%;
  height: 8%;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  border: solid 3px black;
  border-radius: 10px;
  transition: 0.15s;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  color: black;
}
.product-button-2:hover {
  background-color: black;
  color: white;
}
.product-button-2::selection {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.product-button-2:hover::selection {
  background-color: white;
  color: black;
}
.product-button:hover {
  background-color: black;
  color: white;
}
.product-button::selection {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.product-button:hover::selection {
  background-color: white;
  color: black;
}
.colors {
  cursor: pointer;
  font-size: 30px;
  transition: 0.2s;
}
.colors:hover {
  transform: scale(1.2);
}
.colors:active {
  transform: scale(1.5);
}
.arrow-back {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  cursor: pointer;
  right: 10px;
  bottom: 0;
  transition: 0.15s;
}
.arrow-back:hover {
  background-color: rgb(61, 61, 61);
  transform: scale(1.4);
}
.arrow-back:active {
  background-color: black;
  transform: scale(1.2);
  transition: 0.1s;
}
.sections {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.sections-name {
  width: 90%;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .shops-name {
    display: none;
  }
  .full-search {
    width: 50%;
    margin: 0;
    margin-left: 0;
  }
  .search::placeholder {
    color: transparent;
  }
  .side-menu {
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    justify-self: right;
    right: -100%;
    top: 0;
    color: white;
  }
  .product-image:active:hover {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    height: 290px;
  }
  .top-menu {
    height: 75px;
  }
  .search-buttons {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .arrow-back {
    display: none;
  }
  .filter-button-hide {
    display: flex;
    justify-self: center;
  }
}
/*for ads*/
.ads-image {
  background-color: black;
  height: 550px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.ads-product {
  width: 20%;
  min-width: 390px;
  height: 628px;
  min-height: 550px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 0 7px grey ;
  padding: 5px;
  border-radius: 10px;
  transition: 0.2s;
}
